#patient_info{
    display:none;
    float:left;
    padding:2%;
    width: calc(96% - 2px);
    text-align:left;
    background-color:#ffffff;
    border:solid 1px #c3c3c3;
}

#bio_info button, #patient_info button {
    background-color: white;
    border: 1px solid grey;
    margin-bottom: 2px;
    border-radius: 2px;
}

#bio_info button:hover, #patient_info button:hover{
    background-color: #269ccc;
    cursor: pointer;
}
#bio_info{
    display:none;
    float:left;
    padding:2%;
    width: calc(96% - 2px);
    text-align:left;
    background-color:#ffffff;
    border:solid 1px #c3c3c3;
}
#meta_data{
    float:left;
    padding:2%;
    width: calc(96% - 2px);
    text-align:center;
    background-color:#269ccc;
    border:solid 1px #c3c3c3;
    font-size:25px;
    color: #ffffff;
}
#clinical_meta_data{
    float:left;
    padding: 2%;
    width: calc(96% - 2px);
    text-align:center;
    background-color:#9ed2c5;
    border:solid 1px #ffffff;
}
#clinical_meta_data:hover{
    float:left;
    text-align:center;
    background-color: #c6cfd2;
    border:solid 1px #ffffff;
    cursor: pointer;
}
#bio_meta_data{
    float:left;
    padding: 2%;
    width: calc(96% - 2px);
    text-align:center;
    background-color:#9ed2c5;
    border:solid 1px #ffffff;
}
#bio_meta_data:hover{
    float:left;
    text-align:center;
    background-color:#c6cfd2;
    border:solid 1px #ffffff;
    cursor: pointer;
}